.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
    background-color: white;
    justify-content: space-around;
}
.nav-bar .nav-logo{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
    width: 139px;
}
.nav-bar ul{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
    margin: 34px 0;
}
.nav-bar ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.nav-bar .button{
    margin-top: 24px;
    margin-right: 120px;
    margin-bottom: 24px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #469165;
}