.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}

/* header section start */

.nav-bar{
    display: flex;
    background-color: white;
    justify-content: space-around;
}
.nav-bar .nav-logo{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
    width: 139px;
}
.nav-bar ul{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
    margin: 34px 0;
}
.nav-bar ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
.nav-bar ul a:hover{
    transform: scale(0.99);
}


.nav-bar .button{
    margin-top: 24px;
    margin-right: 120px;
    margin-bottom: 24px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #469165;
}
.nav-bar .button:hover{
    cursor: pointer;
    transform: scale(0.99);
}
/* banner */
.banner{
    border: 1px solid black;
    height: 674px;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .banner-container{
    max-width: 1360px;
    height: 379px;
    margin: 0 auto;
    margin-top: 115px;
    text-align: center;
}
.banner-container .early-access{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    padding-right: 12px;
    /* padding-left: 34px; */
    background-color: white;
    width: 229px;
    height: 35px;
    margin: 0 auto;
    border: none;
    border-radius: 1000px;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    gap: 6px;
}
/* dot maker */
.banner-container .early-access .dot{
    width: 10px;
    height: 10px;
    background-color: #469165;
    border: 2px solid #a8d5ba;
    border-radius: 50%;
    display: inline-block;
}

.banner-container .early-access:hover{
    cursor: pointer;
    transform: scale(0.99);
}

.banner-container .banner-info{
    margin-top: 16px;
}

.banner-container .banner-info .first-h1{
    color: white;
    font-size: 4em;
}
.banner-container .banner-info .second-h1{
    color: #30B868;
    font-size: 4.10em;
    margin-bottom: 16px;
}

.banner-container .banner-info p{
    font-size: 16px;
    color: white;
    line-height: 24px;
}

.banner-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 32px;
    gap: 16px;
}

.banner-container ul .first{
    text-decoration: none;
    color: white;
    background-color: #469165;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
.banner-container ul .first:hover{
    transform: scale(0.99);
}

.banner-container ul .first img{
    margin-right: 16px;
}

.banner-container ul .second{
    text-decoration: none;
    color: white;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 4px;
}

.banner-container ul .second i{
    margin-left: 16px;
    margin-right: 10px;
}
.banner-container ul .second:hover{
    transform: scale(0.99);
}
/* banner section end */


/* notes section start */

.notes{
    height: 448px;
    /* border: 1px solid red; */
}

.notes .notes-container{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.notes .notes-container h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-top: 50px;
    margin-bottom: 16px;
}

.notes .notes-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.notes .notes-container .card-container{
    display: flex;
    gap: 24px;
    align-items: center;
    max-width: 1360px;
    height: 300px;
}

.card-container .card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 24px; */
    box-shadow: 0 0 8px #bbb4b4;
    max-width: 322px;
    height: 300px;
    justify-content: center;
    border: none;
    border-radius: 8px;
}


.notes .notes-container .card-container .card-image{
    display: flex;
    width: 60px;
    height: 60px;
    border: 1px solid #F95555;
    border-radius: 50%;
    background-color: #F95555;
    align-items: center;
    justify-content: center;
    margin-top: 69px;
    margin-bottom: 16px;
}

.card-container .card-info h2{
    font-size: 24px;
    font-weight: bold;
    color: #001931;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 16px;
    
}

.card-container .card-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-left: 24px;
    padding-right: 24px;
}
/* note section end */



/* Big brain section start */

.solution{
    height: 938px;
}

.solution .solution-container{
    max-width: 1360px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 120px;
    gap: 60px;
}

.solution-container .solution-image{
    max-width: 600px;
    height: 600px;
}

.solution-container .solution-info h4{
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    margin-bottom: 16px;
}

.solution-container .solution-info h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.solution-container .solution-info .botton{
    margin-bottom: 16px;
}

.solution-container .solution-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.solution-container .solution-info ul{
    list-style: none;
}

.solution-container .solution-info ul li{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}
/* big brain section end */


/* challenge section start */

.challenge-sec{
    height: 506px;
}

.challenge-sec .challenge-container{
    max-width: 1360px;
    height: 384px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    margin-bottom: 120px;
}

.challenge-sec .challenge-container h2{
    padding-top: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.challenge-sec .challenge-container p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.challenge-sec .challenge-container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.challenge-sec .challenge-container ul .challenge-btn{
    text-decoration: none;
    color: white;
    background-color: #469165;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.challenge-sec .challenge-container ul .challenge-btn img{
    margin-right: 16px;
}

.challenge-sec .challenge-container ul .challenge-btn:hover{
    transform: scale(0.99);
}

.challenge-sec .challenge-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
/* challenge section end */


/* footer section start */

.footer-sec{
    height: 348px;
    background-color: #001931;
}

.footer-sec .footer-container{
    max-width: 1360px;
    height: 64px;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-sec .footer-container .social h5{
    color: white;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-sec .footer-container .footer-logo img{
    max-width: 139px;
    height: 60px;
}

.footer-sec .footer-container .social .social-links ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 16px;
}
.footer-sec .footer-container .social-links ul li img{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}

.footer-sec hr{
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.footer-sec p{
    color: #FAFAFA;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}
/* footer section end */